:root{
    margin:0px;
    box-sizing: border-box;
}
.hero{
    
    background-color: rgb(31, 31, 31);
    margin-bottom:30px;
}
.hero__logo{
    background-image: url("images/logo.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
}
.lector{
    margin:0px;
}
.lector button{
    padding:6px
}

